@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
*{
    list-style: none;
    padding: 0%;
    margin: 0%;
    font-family: "Inter" ;
    text-decoration: none;
    color: black;
}
section{
    padding: 3rem 5rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav{
    display: flex;
    gap: 1rem;
}
.navbar-nav li a {
    font-size: 1rem;
    color: hsl(240, 100%, 5%);
}
.navbar-nav li a:hover{
    color:hsl(5, 85%, 63%) ;
}

.grid-main-div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    height: 60vh;
    margin-top: 3rem;
}
.grid-main-div .img1{
    background-image: url(./assets/images/image-web-3-desktop.jpg);
    background-position: center;
    background-size: cover;
    grid-column: span 3;
}
.grid-main-div .breaking-news{
    grid-row: 1/span 2;
    grid-column-start: 4;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
    padding: 1.3rem 1rem;
}
.breaking-news h1{
    color:  hsl(35, 77%, 62%);
}